@model MGPhoto.Models.GalleryPhoto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GalleryPhoto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class="col-sm-10">
                <img src="@GalleryFileLocation.RetriveFileFromFolder@Model.Picture" class="img-thumbnail" height="100" width="100" asp-append-version="true" />
            </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPhoto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
