@model IEnumerable<MGPhoto.Models.GalleryPhoto>

@{
    ViewData["Title"] = "Index";
}

<h1>Gallery manager</h1>

<p>
    <a asp-action="Create">Add a new picture</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
               <a asp-action="Details" asp-route-id="@item.IdPhoto">
                   <img src="@GalleryFileLocation.RetriveFileFromFolder@item.Picture" class="img-thumbnail" height="100" width="100" asp-append-version="true" />
               </a>
               </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPhoto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPhoto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPhoto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
